.CardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.ItemImg{
    width: 200px;
    height: 200px;
}