.CartCardItem{
    border: solid 1px black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.CartItemHeader{
    color: black;
    font-size: 20px;
    width: 100px;
}

.CartItemImg{
    width: 100px;
    height: 100px;
}

.CartItemCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.CartItemCounter .Button {
    margin: 0 10px 0 10px;
}